@page "/"

<h1>Hello Shapes Blazor</h1>

This is a simple app to demonstrate:
<ul>
    <li>Blazor on client side.</li>
    <li>Blazor on server side (.NET Core 3.0 - Razor Components</li>
    <li>Using C# and OOP methods</li>
</ul>